<div class="container py-5 top-page" style="position: relative;">
  <!-- 画像を背景に設定 -->
  <div style="position: absolute; top: 0; left: 0; width: 100%; height: 150%; z-index: -1; background-image: url('/assets/bgRamen.png'); background-size: cover; background-repeat: no-repeat;"></div>

  <!-- テキストを中央に配置 -->
  <div class="row mt-5 font-weight-bold">
    <div class="mx-auto text-white" style="text-align: center; font-size: 30px; padding: 20px; background-color: rgba(0, 0, 0, 0.7);">
      ようこそ、Ramensへ！<br>
      このサイトは、ラーメンショップのレビューサイトになります。<br>
      お気に入りのラーメンショップのレビューを見たり！書いたり!<br>
      みんなで共有しましょう!!!!!
    </div>
  </div>
</div>
