

<div class="container py-5">
  <div class="row mt-5 font-weight-bold">
    <div class="mx-auto" style="background-color: #red; text-align: center; font-size:30px; padding: 20px;">
      ようこそ、Ramensへ！<br>
      このサイトは、ラーメンショップのレビューサイトになります。<br>
      お気に入りのラーメンショップのレビューを書いたり！見たり！<br>
      みんなで共有しましょう！
    </div>
  </div>
</div>
