@use '~bootstrap/scss/bootstrap';


.my-class {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    object-fit: contain;
}

body {
    background-color: #FFFFBB;
}