<div class="container py-5">
  <div class="row mt-5 font-weight-bold">
    <div class="mx-auto bg-light" style="text-align: center; font-size:30px;">
      Ramensの管理者TOP画面になります</br>
      店舗の追加、編集は店舗一覧から</br>
      ユーザーの編集は会員一覧から</br>
      レビューの編集はレビュー一覧からお願いします。
    </div>
  </div>
</div>
