<div class="container py-5 top-page" style="position: relative;">
  <!-- 画像を背景に設定 -->
  <div style="position: absolute; top: 0; left: 0; width: 100%; height: 150%; z-index: -1; background-image: url('/assets/bgRamen.png'); background-size: cover; background-repeat: no-repeat;"></div>

  <!-- テキストを中央に配置 -->
  <div class="row mt-5 font-weight-bold">
    <div class="mx-auto text-white" style="text-align: center; font-size: 30px; padding: 20px; background-color: rgba(0, 0, 0, 0.7);">
      Ramensの管理者TOP画面になります</br>
      店舗の追加、編集は店舗一覧から</br>
      ユーザーの編集は会員一覧から</br>
      レビューの編集はレビュー一覧からお願いします。
    </div>
  </div>
</div>
